In [55]:
import requests

In [56]:
url = "https://na1.api.riotgames.com/tft/league/v1/challenger?queue=RANKED_TFT&api_key=RGAPI-2a7c9ef3-2da5-4196-bb6d-8b756c2e3885"
response = requests.get(url)

if response.status_code == 200:
    data = response.json()
    print(data)
else:
    print(f"Failed to retrieve data: {response.status_code}")

Failed to retrieve data: 403

In [70]:
import json
with open('data/champion.json', encoding='utf-8') as json_file:
    data_list = json.load(json_file)
data_list = list(data_list['data'].values())

In [71]:
ids_and_tags = [(champion['id'], champion['tags']) for champion in data_list]
df_ids_tags = pd.DataFrame(ids_and_tags, columns=['id', 'tags'])

df_ids_tags[['tag1', 'tag2']] = pd.DataFrame(df_ids_tags['tags'].tolist(), index=df_ids_tags.index)

# Drop the original 'tags' column
df_ids_tags.drop(columns=['tags'], inplace=True)

df_ids_tags

          id      tag1      tag2
0     Aatrox   Fighter      None
1       Ahri      Mage  Assassin
2      Akali  Assassin      None
3     Akshan  Marksman  Assassin
4    Alistar      Tank   Support
..       ...       ...       ...
164     Zeri  Marksman      None
165    Ziggs      Mage      None
166   Zilean   Support      Mage
167      Zoe      Mage      None
168     Zyra      Mage   Support

[169 rows x 3 columns]

In [ ]:
df_ids_tags.set_index('id')[['tag1', 'tag2']].to_json('df_ids_tags.json', orient='index')

In [75]:
df_ids_tags.set_index('id')[['tag1', 'tag2']].to_json('data/champions_traits.json', orient='index')

In [73]:
df_ids_tags

          id      tag1      tag2
0     Aatrox   Fighter      None
1       Ahri      Mage  Assassin
2      Akali  Assassin      None
3     Akshan  Marksman  Assassin
4    Alistar      Tank   Support
..       ...       ...       ...
164     Zeri  Marksman      None
165    Ziggs      Mage      None
166   Zilean   Support      Mage
167      Zoe      Mage      None
168     Zyra      Mage   Support

[169 rows x 3 columns]